<div class="col s12">
    <input type="hidden" name="type" value="audio">
    <div class="file-field input-field">
        <div class="btn green">
          <span>Audio</span>
          <input type="file" accept="audio/*" capture oninput="audioToBase64(this.files[0]).then(result => $('#note').val(result))">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
      <input type="hidden" name="note" id="note">
</div>
<script>
    async function audioToBase64(audioFile) {
  return new Promise((resolve, reject) => {
    let reader = new FileReader();
    reader.onerror = reject;
    reader.onload = (e) => resolve(e.target.result);
    reader.readAsDataURL(audioFile);
  });
}

</script>